.coding-main-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.coding-header {
  font-size: 60px;
  line-height: 1.1;
  font-family: "Google Sans Regular";
  text-align: center;
}

.coding-text {
  font-size: 32px;
  text-align: start;
}

.coding-text-div {
  margin-left: 200px;
  /* padding-top: 80px; */
  font-family: "Google Sans Regular";
}
.coding-text-div-right {
  margin-left: 250px;
  /* padding-top: 80px; */
  font-family: "Google Sans Regular";
}

.coding-main-div > * {
  flex: 1;
  /* margin-bottom: 30px; */
}

.coding-image-div > * {
  max-width: 100%;
  height: auto;
  /* margin-top: 100px; */
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.coding-heading {
  font-size: 70px;
  font-weight: 400;
  text-align: start;
  padding-bottom: 10px;
  font-family: "Google Sans Regular";
}

.platform-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.platform-icons div {
  margin: 0 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.platform-icons div.active {
  transform: scale(1.2);
}

.profile-card {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.profile-card h2 {
  margin-top: 0;
}

.profile-card a {
  display: inline-block;
  margin-top: 10px;
  color: #007bff;
}

/* Media Query */
@media (max-width: 1380px) {
  .coding-heading {
    font-size: 40px;
  }
  .coding-header {
    font-size: 50px;
  }
}
@media (max-width: 768px) {
  .coding-heading {
    font-size: 30px;
    text-align: center;
  }
  .coding-header {
    font-size: 30px;
  }
  .greeting-text-p {
    font-size: 16px;
    line-height: normal;
  }
  .coding-main-div {
    flex-direction: column;
  }
  .coding-text-div {
    margin-left: 0px;
    margin: 20px;
  }
  .coding-text-div-right {
    margin-left: 0px;
    margin: 20px;
  }
  .coding-text {
    font-size: 16px;
  }
  .coding-text-subtitle {
    font-size: 16px;
    text-align: center;
  }
  .coding-image-div {
    order: 2;
  }
  .coding-image-div > * {
    margin-top: 0px;
  }
}
